.container {
  background-color: #e4d6a7;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5rem auto;
  padding: 2rem;
  -webkit-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  width: 20rem;
}
