.formButton {
    background-color: #6bd8de;
    border-radius: 5px;
    font-size: 1.25rem;
    display: block;
    padding: 8px 0;
    width: 100%;
}

button:hover {
    background-color: #50A2A7;
    cursor: pointer;
}

.field {
    /* border: 3px solid black; */
    height: 7rem;
    text-align: start;
    /* margin-bottom: 1rem; */
}

.field input {
    border-radius: 5px;
    padding: 0.75rem;
    width: 90%;
}

.field p {
    margin: 0;
}

.field label {
    display: block;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
}