.background {
    animation: fadeIn 1s;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    position: fixed;
    width: 100%;
}

.button {
  background-color: #6bd8de;
  border-radius: 5px;
  font-size: 1rem;
  display: block;
  padding: 8px 0;
  margin: 0 auto;
  width: 5rem;
}

.fadeIn {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.modal {
  background: lightgreen;
  border-radius: 5px;
  padding: 10px 0;
  position: fixed;
  padding: 20px;
  -webkit-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  top: 0;
  width: 100%;
  z-index: 10;
}
